@model Eventizer.Models.Employee
<nav class="navbar-inverse" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Eventizer</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li class="@(ViewBag.Title == "Dashboard" ? "active" : "")"><a href="@Href("/Dashboard/")">Dashboard</a></li>
                <li class="dropdown @(ViewBag.Title == "Register" || ViewBag.Title == "All Employees" ? "active" : "")">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Employees <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="@Href("/Dashboard/employee/add")">Add new Employee</a></li>
                        <li class="divider"></li>
                        <li><a href="@Href("/Dashboard/employees")">View all Employees</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#">Notifications<span class="badge" style="margin-left: 10px; background: #d9534f;">2</span></a></li>
                <li class="dropdown active">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">@Model.Name<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">View Profile</a></li>
                        <li><a href="#">Settings</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
