@model Eventizer.Models.Current
@{
    ViewBag.Title = "Events by " + Model.Employee.Name;
    ViewBag.isAddSubtask = false;
    ViewBag.isAddTask = false;

    ViewBag.isHighlightedEvent = true;
}

<script src="@Url.Content("~/Static/js/jquery.ui.core.js")"></script>
<script src="@Url.Content("~/Static/js/jquery.ui.datepicker.js")"></script>

<link type="text/css" rel="stylesheet" href="@Url.Content("~/Static/css/datepicker.css")"/>

@Html.Partial("_Navigation", Model.Employee)
<section id="controls">
    <div class="container-fluid">
        <div class="col-md-8">
            <br />
            <div class="panel panel-default">
                <div class="panel-heading">@("All Events by " + Model.Employee.Name)</div>
                @if (ViewBag.Events.Count > 0)
                {
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                                <td style="border-left: 4px solid transparent">#</td>
                                <td><strong>Event Name</strong></td>
                                <td><strong>Event Description</strong></td>
                                <td><strong>Created on</strong></td>
                                <td><strong>Status</strong></td>
                                <td><strong>Options</strong></td>
                            </tr>
                        </thead>
                        <tbody>
                            @{ int i = 1;}
                            @foreach (Eventizer.Models.Event E in ViewBag.Events)
                            {
                                
                                <tr style="overflow: hidden;">
                                    <td style="border-left:4px solid @Eventizer.Helpers.Essentials.CalculatePriorityColor(E.Deadline, E.Status);">@i</td>
                                    <td>@E.Name</td>
                                    <td>@Eventizer.Helpers.Essentials.TrimLongText(E.Description, 60)</td>
                                    <td style="text-align: center;">@E.DateCreated.ToShortDateString()</td>
                                    <td>
                                        @(E.Status ? "Completed" : "Pending")
                                    </td>
                                    <td><a href="@Href("/Dashboard/events/view/" + E.ID)" class="btn btn-xs btn-info btn-block">View</a></td>
                                </tr>
                                i++;
                            }

                        </tbody>
                    </table>
                }
                else
                {
                    <div class="panel-body">
                        <div class="alert alert-danger" style="text-align: center; margin-bottom: 0;">
                            <p style="padding-bottom: 10px;">Looks like you haven't created any events yet</p>
                            <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#event-modal">Add Event</button>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="col-md-4">
            <br />
            @Html.Partial("_RightPanel", Model)
        </div>
    </div>
</section>

@Html.Partial("_BottomScripts", Model);
<footer>
</footer>
